table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-top: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

table th {
    color: #ffffff;
}

table td {
    border-bottom: 1px solid #214460;
    border-top: 1px solid #214460;
    margin-top: 1rem;
    margin-bottom: 5px;
    padding: .15rem;
    color: #c5c5c5;
    background-color: #0b2237;
}

table td button {
    margin-right: 5px;
}

.button-mimic {
    margin-right: 5px;
    height: 20px;
    width: 30px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #123456;
    transition: 0.25s;
    /* border-radius: 5px;*/
    /* border: .001rem solid #a1a1a1; */
} 

.button-mimic:hover {
    background-color: #ffffff;
    color: #214460;
    /* border: 1px solid #214460; */
}

.symbol-name {
    align-items: center;
    font-weight: bold;
}

button {
    background-color: #214460;
    color: white;
    padding: 4px 12px;
    transition: .25s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: #214460;
    border-radius: 3px;
    border: 1px solid #214460;
}

button:hover {
    background-color: #ffffff;
    color: #214460;
    border: 1px solid #214460;
}

input[type="number"] {
    width: 5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

.section-header {
    color: #ffffff;
    margin-top: 1rem;
    font-family: Gotham Narrow, arial, sans-serif;
    font-weight: 100;

}

.portfolio-table {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stock-name {
    text-align: -webkit-left;
}

.user-info {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    background-color: #123456;
    justify-content: space-evenly;
    padding: 10px;
}