table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-top: 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 3rem;
}

table th {
    color: #ffffff;
}

table td {
    border-bottom: 1px solid #214460;
    border-top: 1px solid #214460;
    padding: .15rem;
    color: #c5c5c5;
    background-color: #0b2237;
}

table td button {
    margin-right: 5px;
}

.button-mimic {
    margin-right: 5px;
    height: 20px;
    width: 30px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #123456;
    transition: 0.25s;
} 

.button-mimic:hover {
    background-color: #ffffff;
    color: #214460;
    cursor: pointer;
}

.symbol-name {
    align-items: center;
    font-weight: bold;
}

button {
    background-color: #214460;
    color: white;
    padding: 4px 12px;
    transition: .25s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: #214460;
    border-radius: 3px;
    border: 1px solid #214460;
}

button:hover {
    background-color: #ffffff;
    color: #214460;
    border: 1px solid #214460;
}

input[type="number"] {
    border: 0px solid #ffffff;
    width: 100%;
    height: 100%;
    padding: 0.015rem;
    background-color: #ccc;
    width: 5rem;
}

.input-cell{
    width: 5rem;
}

.section-header {
    color: #ffffff;
    margin-top: 1rem;
    font-family: Gotham Narrow, arial, sans-serif;
    font-weight: 100;
    position: relative;
}

.section-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1rem;
    background-image: linear-gradient(to right, #00ffff00, #00ffff00, #ffffff, #00ffff00, #00ffff00);
}

.portfolio-table {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stock-name {
    text-align: -webkit-left;
}

.user-info {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    background-color: #123456;
    justify-content: space-evenly;
    padding: 10px;
}